.calculatorist{
  font-size: 20px;
  background-color: red;
}
.etona{
  text-align: center;
  margin-left: 10%;
  margin-right:  10%;
  margin-top: 5%;
  background-color: black;
  color: white;
  padding-bottom: 30px;
}
.rest{

  margin-top: 2%;
  text-align: center;

}

#btn{
  margin: 1%;
}

hr{
  margin-top: 5%;
}

 #btn, #rests{
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  padding: 12px 28px;
  background-color: red;
  font-weight: bold;
}

.numberist{
  padding: 5px;
}

.yari{
  background-color: black;
}